<div class="container">
	<h2>Hi, <%= @username.capitalize %>, welcome to your Dashboard</h2>


</div>



	<div class="container">
	<div class="row no-gutters">
	<div class="col-lg-4 col-md-4 col-12 p-4">
	
	<div class="card-product">
		  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
		  <div class="card-product-infos">
		    <h2>Ranking</h2>
		    <p>First Place!</p>
		  </div>
	</div>
	
	</div>




	<div class="col-lg-4 col-md-4 col-12 p-4">
	
	<div class="card-product">
		  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
		  <div class="card-product-infos">
		    <h2>Total Donated</h2>
		    <p>$1,000,000</p>
		  </div>
	</div>
	
	</div>


	
	<div class="col-lg-4 col-md-4 col-12 p-4">
	
	<div class="card-product">
		  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
		  <div class="card-product-infos">
		    <h2>Share</h2>
		    <p>Facebook, Twitter, etc... (I will change this to a module!:)</p>
		  </div>
	</div>
	
	</div>
	

	</div>

</div>

   





	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12 col-lg-8">
		<div class="your-container">
		
		<div class="content">
      		<div class="cards">
            <% @issues.each do |issue| %>
             <li>
            <% if issue.photo.attached? %>
            <% background_url = cl_image_path issue.photo.key, width: 400, height: 500, crop: :fill %>
            <% else %>
            <% background_url = 'https://images.unsplash.com/photo-1585859537744-6e62df9b9a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' %>
            <% end %>
    
		       <div class="card" style="background-image:url('<%= background_url %>')">
		          <%= link_to 'Donate Again', issue_path(issue) %>
		        </div>
       
          </li>
              
					<% end %>
                  </div>
                  </div>

             </div>
              </div>



         
	   
      

		

			<div class="col-md-12 col-12 col-lg-4">
			<div class="container">
			
	      <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
			</div>
			</div>
			</div>
		</div>
	

               


