<div class="homepage">
<div class="ecarter"></div>

<h2 class= "text-center mb-3" id="welcomelogo">BRIGHT</h2>
<strong><p class= "text-center" id="banner-typed-text"></p></strong>

<div class="navfooter text-center">
   <h3>By continuing you agree to our <br>
    <strong>Privacy Policy</strong></h3>
 </div>

</div>
