<div class="brighter-page">
  <div class="brighter-container">
    <div class="brighter-top">
      <div class="row search-bar">
        <p id="logomap">BRIGHT</p>
      </div>

      <h2 class="text-center"><i class="fas fa-check-circle"></i></h2>
      <h2 id="logo">Thank you, <%= current_user.username.capitalize %> </h2>
      <h3 class="text-center" id="banner2-typed-text"></h3>
      <div class= "ecarter">
      </div>

      <p class="text-center"><strong>Spread</strong> the word around you:</p>
      <div class="text-center p-3 social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>

      <div style="padding-top:30px"></div>

      <div class="text-center">
        <%= link_to 'See my profile', dashboard_path, id:'maincta' %>
        <%= link_to 'Back to exploration', map_path, id:'maincta' %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'banner2' %>

<!-- @donation.charity will give me charity -->
