<div class="devise-page">
  <div class="devise-container">
    <div class="devise-top">
      <div class="row search-bar">
        <p id="logomap">BRIGHT</p>
      </div>

      <h2 class="text-center"><i class="fas fa-check-circle"></i></h2>
      <h2 id="logo">Thank you</h2>
      <p class="text-center">For making the world <strong>brighter</strong>.</p>
      <div class= "ecarter">
      </div>

      <p class="text-center"><strong>Spread</strong> the word around you:</p>
      <div class="text-center p-3 social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>

      <div class="ecarter"></div>

      <div class="text-center">
        <%= link_to 'See my profile', dashboard_path, id:'maincta' %>
        <%= link_to 'Back to exploration', map_path, id:'maincta' %>
      </div>
    </div>
  </div>
</div>

<!-- @donation.charity will give me charity -->
