<h1>Involved Charities</h1>

<ul>
  <% @charities.each do |charity| %>
    <li><%= charity.name %></li>
    <li><%= charity.description %></li>
    <li>Total donations: <%= charity.total_donations %></li>
    <li>Rating: <%= charity.rating %></li>
  <% end %>
</ul>
