// Graphical variables
@import "config/fonts";
@import "config/colors";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "issues/index";


body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  position: relative;
  background: transparent;
}

.bg-black{
  background-color: black;
}

#logo {
  font-family: 'Roboto Condensed', sans-serif;
}
